extends layout 
block content 
    p This app allows you to book tryps
    ol 
        li 
            a(href="/drivers") Drivers
        li 
            a(href="/passengers") Passengers
        li 
            a(href="/search") Search
        li 
            a(href="/trips") Trips