extends layout 
block content 
    p #{passenger.name}'s Profile 
    p Upcoming Trips: 
        ol 
            if(passenger.upcomingTrips.length===0)
                p No trips 
            else
                each trip in passenger.upcomingTrips 
                    li on #{trip.tripDate} from #{trip.from} to #{trip.destination}